*{
    font-family: sans-serif;
    --clr-1 : navy;
    --clr-para : #D8E2FF;
    --clr-bg : #E9EFFF;
    --clr-text: #5882FF;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: var(--clr-bg);
   
}

header{
    color: white;
    background-color: var(--clr-1);
    height: 100px;
    position: relative;
}
.logo{
    height: 90px;
    position: absolute;
    right: 10px;
    bottom: -20px;
}
header h1{
    padding: 20px;
}

aside{
    background-color: var(--clr-text);
    width: 10%;
    padding: 20px 0;
    position: fixed;
    top: 100px;
}
aside a{
    width: 50%;
    margin: 1px 55px;
    padding: 5px;
    text-decoration: none;
    color: white;
    background: navy;
    display: block;
}

p{
    background-color: var(--clr-para);
    padding: 0 10px;
    font-size: 15px;
    padding-bottom: 20px;
    font-weight: 500;
    margin: 30px;
}
.italic{
    font-family: cursive;
    margin-left:50px ;
    font-size: 14px;
}
.bold{
    font-weight: bold;
    text-decoration: underline;
}
.hlits{
    color: var(--clr-text);
    font-family: cursive;
}
/* p:last-child{
    margin-top: 30px;
} */
article{
    width: 15%;
    border: 1px solid navy ;
    box-shadow: 0 0 1px 2px lightgray;
    position: fixed;
    right: 0;
    top: 140px;
}
article p{
    background: transparent;
    margin: 5px;
    padding: 0;
    clear: both;
}
article img{
    float: left;
    padding: 10px;
}
article h2{
    color: white;
    background: var(--clr-text);
    font-family: cursive;
    text-align: right;
    margin: 10px;
    padding: 5px;
}
article p:last-child{
    margin-top: 0;
}
.box{
    /* background-color: var(--clr-para); */
    box-shadow: 0 0 2px 2px dimgray;
    width: 100%;
    height: 500px;
    width: 95%;
    margin: 5px auto;

}
footer{
    background: var(--clr-1);
    color: white;
    text-align: center;
}
main{
    position: relative;
}
.container{
    width: 74%;
    /* margin: 0px auto; */

    margin-left: calc(10% + 20px);
}